[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
udi-interface = ">=3.3.18"
pyyaml = "*"
requests = "*"
aiohttp = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = ">=3.8.0"

[requires]
python_version = "3.11"
