[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
udi-interface = "*"
requests = "*"
aiohttp = "*"

[dev-packages]
pyaml = "*"
markdown2 = "*"
pylsp-mypy = "*"
pyls = "*"
pytest = "*"
pre-commit = "*"
